*{
    font-family: 'Inter ';
}

.table-container {
  text-align: center;
}

.styled-table {
  border-collapse: collapse;
  width: 30%;
  margin: auto;

}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 8px;

}

.styled-table th {
  background-color: #f2f2f2;
}

.heading{
    text-align:center;
}